/*
 * Empty Stylesheet file.
 */
*{
    -cor-primaria:#EFFEBA;
    -cor-secundaria:#707F37;
    -cor-contraste-secundaria:#FFEC78;
}

.mainFxmlClass {
    -fx-background-color: -cor-primaria;
}

.button-bar .button,.split-menu-button .label,.split-menu-button .arrow-button, .menu-item{
    -fx-background-color:-cor-secundaria;
    -fx-text-fill:white;
}

.button-bar .button:hover,.split-menu-button .label:hover,.split-menu-button .arrow-button:hover,.menu-item:hover,.menu-item:hover .label{
    -fx-background-color:-cor-contraste-secundaria;
    -fx-text-fill:black;
}

.scroll-pane, .scroll-pane .viewport{
    -fx-background-color: transparent;
}

/*Especifico*/
.fundo-escuro{
    -fx-text-fill: white;
}
