*{
    -cor-primaria:#EFFEBA;
    -cor-secundaria:#707F37;
    -cor-contraste-secundaria:#FFEC78;
}

.mainFxmlClass {
    -fx-background-color: -cor-primaria;
}

.button-bar .button,.split-menu-button .label,.split-menu-button .arrow-button, .menu-item, .button ,.tab-pane .tab{
    -fx-background-color:-cor-secundaria;
    -fx-text-fill:white;
}

.button-bar .button:hover,.split-menu-button .label:hover,.split-menu-button .arrow-button:hover,.menu-item:hover,.menu-item:hover .label,.button:hover,.tab-pane .tab:selected,.tab-pane .tab:hover{
    -fx-background-color:-cor-contraste-secundaria;
    -fx-text-fill:black;
}

.scroll-pane, .scroll-pane .viewport{
    -fx-background-color: transparent;
}

.web-view, .web-view .scroll-bar .viewport, .web-view .viewport{
    -fx-background-color: transparent;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color:-cor-primaria;
}

/*Especifico*/
.fundo-escuro{
    -fx-text-fill: white;
}
.painel-transparente{
    -fx-background-color: transparent;
}
.borda{
    -fx-border-color: -cor-secundaria;
}

